---
import Content from "./Content.md";
import styles from "./homepage.module.css";
---

<article class={styles.article}>
    <Content />

    <section class={styles.sheetWrapper}>
        <iframe
            id="google-sheet"
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT6nScgXDYPQ-OyZBRQfchazBv1AiI3A78MH4cac5koBa7kd_EZt7lP43FI5-9EqbSEMrHi7SKkLVz2/pubhtml?gid=0&single=true&widget=true&headers=false"
            height="250"
            width="400"
            frameborder="0"></iframe>
    </section>
</article>
