---
import WallCard from "./WallCard/WallCard.astro";
import styles from "./homepage.module.css";
import type { JSX } from "astro/jsx-runtime";
import { getCollection } from "astro:content";

const wallCardCont = await getCollection("wallCardCont");
wallCardCont.sort(function (a, b): number {
    return b.data.date.getTime() - a.data.date.getTime();
});
---

<section class={styles.wall}>
    {
        wallCardCont.map(function (c): JSX.Element {
            return (
                <WallCard date={c.data.date}>
                    <Fragment set:html={c.rendered!.html} />
                </WallCard>
            );
        })
    }
</section>
