---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/header/Header.astro";
import Main from "@/components/main/Main.astro";
import Homepage from "@/components/homepage/Homepage.astro";
---

<Layout>
    <Header />
    <Main>
        <Homepage />
    </Main>
</Layout>
