---
import "./globals.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/sword.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="lets goooo.. attack!!!" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:title" content="rivejaz" />
        <meta property="og:description" content="jaz animation journey.." />
        <meta property="og:image" content="/sword.svg" />
        <meta property="og:url" content="http://rivejaz.gregosilaja.cc" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="rivejaz" />
        <meta property="og:locale" content="en_PH" />
        <title>rivejaz</title>
    </head>

    <body>
        <div id="root">
            <slot />
        </div>
    </body>
</html>
